<!-- footer section -->
<footer class="footer_section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-col">
				<div class="footer_contact">
					<h4>
						Reach at..
					</h4>
					<div class="contact_link_box">
						<a href="">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>
								Location
							</span>
						</a>
						<a href="">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								Call +243 97 89 24 080
							</span>
						</a>
						<a href="">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								info@finasarl.com
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-col">
				<div class="footer_detail">
					<a href="{{url('app_accueil')}}" class="footer-logo">
						FINA sarl
					</a>
					<p>
						Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
					</p>
					<div class="footer_social">
						<a href="https://www.facebook.com/finaSarl">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="https://www.facebook.com/finaSarl">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="https://www.facebook.com/finaSarl">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
						<a href="https://www.facebook.com/finaSarl">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
						<a href="https://www.facebook.com/finaSarl">
							<i class="fa fa-pinterest" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-col">
				<div class="map_container">
					<div class="map">
						<div id="googleMap"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer section -->
<!-- footer start -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="full">
					<div class="logo_footer">
						<a href="#"><img width="210" src="images/logo.png" alt="#"/></a>
					</div>
					<div class="information_f">
						<p>
							<strong>ADDRESS:</strong>
							28 avenue Kidicho, Allilac center, Lubumbashi - DRC</p>
						<p>
							<strong>TELEPHONE:</strong>
							+243 97 89 24 080</p>
						<p>
							<strong>EMAIL:</strong>
							info@finasarl.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-6">
								<div class="widget_menu">
									<h3>Menu</h3>
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="{{url('app_policy')}}">Policy</a></li>
										<li><a href="{{url('app_garantie_remboursement')}}">Garantie de remboursements</a></li>
										<li><a href="#">Témoignages</a></li>
										<li><a href="#">Blog</a></li>
										<li><ahref="{{url('app_contact')}}">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="widget_menu">
									<h3>Account</h3>
									<ul>
										<li><a href="#">Account</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="{{url('admin')}}">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="#">Shopping</a></li>
										<li><a href="#">Widget</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="widget_menu">
							<h3>Newsletter</h3>
							<div class="information_f">
								<p>Souscrire  à notre newsletter et obtenez les mises à jours d'arrivage</p>
							</div>
							<div class="form_sub">
								<form action="{{url('app_creationNewsLetter')}}" method='get'>
									<fieldset>
										<div class="field">
											<input type="email" placeholder="Entrer votre adressse mail " name="email"/>
											<input type="submit" value="Souscrire "/>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer end -->
<div class="cpy_">
	<p>
		&copy;
		<span id="displayYear"></span>
		Tous droit reservé
		<a href="https://webtronblue.com">WebTronBlue WebTronIx</a>
	</p>
</div>
