<!-- product section -->
<section class="product_section layout_padding">
	<div class="container">
		<div class="row">
			{% for produit in produits %}
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="box">
						<div class="option_container">
							<div class="options">
								<a href="{{url('app_panier_add', {id: produit.id} )}}" class="option1">
									Ajouter au panier
								</a>
								<a href="" class="option2">
									Voir détail
								</a>
							</div>
						</div>
						<div class="img-box">
							<img src="{{asset('uploads/images/produits/'~ produit.photoPrincipale)}}" alt="">
						</div>
						<div class="detail-box">
							<h5>
								{{produit.nom}}
							</h5>
							<h6>
								{{produit.prixVente}}
								USD
							</h6>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
		<div class="btn-box">
			<a href="{{url('app_produits')}}">
				Voir tous les produits 
			</a>
		</div>
	</div>
</section>
<!-- end product section -->
