<!DOCTYPE html>
<html>
	<head>
		<!-- Basic -->
		<meta charset="utf-8"/>
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Site Metas -->
		<meta name="keywords" content="Electroniques, Qualité, Produits "/>
		<meta name="description" content=""/>
		<meta name="author" content="Marcus R. Kimba from Webtronblue "/>
		<link rel="shortcut icon" href="images/favicon.png" type="">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<title>
			{% block title %}Fina Shop - DRC
			{% endblock %}
		</title>
		<!-- bootstrap core css -->
		<link
		rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}"/>
		<!-- font awesome style -->
		<link
		href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet"/>
		<!-- Custom styles for this template -->
		<link
		href="{{asset('css/style.css')}}" rel="stylesheet"/>
		<!-- responsive style -->
		<link href="{{asset('css/responsive.css')}}" rel="stylesheet"/>
	</head>
	<body>
		<div class="hero_area">
			{# {% include '_partials/_header.html.twig' %} #}
			{{ render( url('app_header'))}}
			{% include '_partials/_slider.html.twig' %}
		</div>
		{% block body %}

			{# {% include '_partials/_why.html.twig' %} #}

			{# {% include '_partials/_arrival.html.twig' %} #}

			{% include '_partials/_product.html.twig' %}

			{% include '_partials/_subscribe.html.twig' %}

			{# {% include '_partials/_client.html.twig' %} #}

		{% endblock %}

		{% include '_partials/_footer.html.twig' %}

		
		<!-- jQery -->
		<script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
		<!-- popper js -->
		<script src="{{asset('js/popper.min.js')}}"></script>
		<!-- bootstrap js -->
		<script src="{{asset('js/bootstrap.js')}}"></script>
		<!-- custom js -->
		<script src="{{asset('js/custom.js')}}"></script>
	</body>
</html>
