<!DOCTYPE html>
<html>
	<head>
		<!-- Basic -->
		<meta charset="utf-8"/>
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Site Metas -->
		<meta name="keywords" content="Electroniques, Qualité, Produits "/>
		<meta name="description" content=""/>
		<meta name="author" content="Marcus R. Kimba from Webtronblue "/>
		<link rel="shortcut icon" href="images/favicon.png" type="">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<title>
			{% block title %}Fina Shop - DRC
			{% endblock %}
		</title>
		<!-- bootstrap core css -->
		<link
		rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}"/>
		<!-- font awesome style -->
		<link
		href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet"/>
		<!-- Custom styles for this template -->
		<link
		href="{{asset('css/style.css')}}" rel="stylesheet"/>
		<!-- responsive style -->
		<link href="{{asset('css/responsive.css')}}" rel="stylesheet"/>
	</head>
	<body class="sub_page">
		<div
			class="hero_area">
			<!-- header section strats -->
			{% include '_partials/_header.html.twig' %}
			<!-- end header section -->
		</div>
		<!-- inner page section -->
		<section class="inner_page_head">
			<div class="container_fuild">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<h3>
							{% block innerPage %} Nos produits {% endblock %}
							</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end inner page section -->
		
		{% block body %}
		{% include '_partials/_product.html.twig' %}
		{% endblock %}
		<!-- end why section -->
		<!-- arrival section -->
		{# <section class="arrival_section">
			<div class="container">
				<div class="box">
					<div class="arrival_bg_box">
						<img src="images/arrival-bg.png" alt="">
					</div>
					<div class="row">
						<div class="col-md-6 ml-auto">
							<div class="heading_container remove_line_bt">
								<h2>
									#NewArrivals
								</h2>
							</div>
							<p style="margin-top: 20px;margin-bottom: 30px;">
								Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam sit earum id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
							</p>
							<a href="">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</section> #}
		<!-- end arrival section -->
		<!-- footer section -->
		{% include '_partials/_footer.html.twig' %}
		<!-- jQery -->
		<script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
		<!-- popper js -->
		<script src="{{asset('js/popper.min.js')}}"></script>
		<!-- bootstrap js -->
		<script src="{{asset('js/bootstrap.js')}}"></script>
		<!-- custom js -->
		<script src="{{asset('js/custom.js')}}"></script>
	</body>
</html>
